@model ProjectManagr.ViewModels.ProjectSiteVM

@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Project Site Details</h4>
        </div>

        <div class="modal-body">
            <div class="dl-horizontal">


                <div class="row">
                    <div class="col-md-1"></div>

                    <div class="col-md-5 text-right">
                        <b>@Html.DisplayNameFor(model => model.Name)</b>
                    </div>

                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.Name)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5 text-right">
                        <b>@Html.DisplayNameFor(model => model.Code)</b>
                    </div>

                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.Code)
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-1"></div><div class="col-md-5 text-right">
                        <b>@Html.DisplayNameFor(model => model.Description)</b>
                    </div>

                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.Description)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div><div class="col-md-5 text-right">
                        <b>@Html.DisplayNameFor(model => model.PmName)</b>
                    </div>

                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.PmName)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div><div class="col-md-5 text-right">
                        <b>@Html.DisplayNameFor(model => model.ApplicationName)</b>
                    </div>

                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.ApplicationName)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div><div class="col-md-5 text-right">
                        <b>@Html.DisplayNameFor(model => model.SubPortfolioName)</b>
                    </div>

                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.SubPortfolioName)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div><div class="col-md-5 text-right">
                        <b>@Html.DisplayNameFor(model => model.EntityStatusName)</b>
                    </div>

                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.EntityStatusName)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div><div class="col-md-5 text-right">
                        <b>@Html.DisplayNameFor(model => model.CountryName)</b>
                    </div>

                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.CountryName)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div><div class="col-md-5 text-right">
                        <b>@Html.DisplayNameFor(model => model.SiteName)</b>
                    </div>

                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.SiteName)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div><div class="col-md-5 text-right">
                        <b>@Html.DisplayNameFor(model => model.SiteItmFeedbackName)</b>
                    </div>

                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.SiteItmFeedbackName)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div><div class="col-md-5 text-right">
                        <b>@Html.DisplayNameFor(model => model.DepartmentName)</b>
                    </div>

                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.DepartmentName)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div><div class="col-md-5 text-right">
                        <b>@Html.DisplayNameFor(model => model.ApplicationTypeName)</b>
                    </div>

                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.ApplicationTypeName)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div><div class="col-md-5 text-right">
                        <b>@Html.DisplayNameFor(model => model.Apex)</b>
                    </div>

                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.Apex)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div><div class="col-md-5 text-right">
                        <b>@Html.DisplayNameFor(model => model.PotentialValue)</b>
                    </div>

                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.PotentialValue)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div><div class="col-md-5 text-right">
                        <b>@Html.DisplayNameFor(model => model.SiteItm)</b>
                    </div>

                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.SiteItm)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div><div class="col-md-5 text-right">
                        <b>@Html.DisplayNameFor(model => model.SiteEngagementStart)</b>
                    </div>

                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.SiteEngagementStart)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div><div class="col-md-5 text-right">
                        <b>@Html.DisplayNameFor(model => model.SiteEngagementEnd)</b>
                    </div>

                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.SiteEngagementEnd)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div><div class="col-md-5 text-right">
                        <b>@Html.DisplayNameFor(model => model.HasBusinessImpact)</b>
                    </div>

                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.HasBusinessImpactRef)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div><div class="col-md-5 text-right">
                        <b>@Html.DisplayNameFor(model => model.CommentsAndIssues)</b>
                    </div>

                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.CommentsAndIssues)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div><div class="col-md-5 text-right">
                        <b>@Html.DisplayNameFor(model => model.IsResourceRequired)</b>
                    </div>

                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.IsResourceRequiredRef)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div><div class="col-md-5 text-right">
                        <b>@Html.DisplayNameFor(model => model.Attachment)</b>
                    </div>

                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.Attachment)
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
