@model ProjectManagr.ViewModels.ProjectSiteVM

@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Project Details</h4>
        </div>

        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ProjectId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProjectId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Code)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Code)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PmName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PmName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ApplicationName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ApplicationName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SubPortfolioId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SubPortfolioId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SubPortfolioName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SubPortfolioName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EntityStatusId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EntityStatusId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EntityStatusName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EntityStatusName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CountryId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CountryId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CountryName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CountryName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SiteId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SiteId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SiteName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SiteName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SiteItmFeedbackId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SiteItmFeedbackId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SiteItmFeedbackName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SiteItmFeedbackName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DepartmentId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DepartmentId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DepartmentName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DepartmentName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ApplicationTypeId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ApplicationTypeId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ApplicationTypeName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ApplicationTypeName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Apex)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Apex)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PotentialValue)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PotentialValue)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SiteItm)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SiteItm)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SiteEngagementStart)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SiteEngagementStart)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SiteEngagementEnd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SiteEngagementEnd)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HasBusinessImpact)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HasBusinessImpact)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CommentsAndIssues)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CommentsAndIssues)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsResourceRequired)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsResourceRequired)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Attachment)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Attachment)
                </dd>

            </dl>
        </div>
    </div>
</div>
