@model ProjectManagr.ViewModels.ScreenVM
@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Project Details</h4>
        </div>

        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TechLead)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TechLead)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EstCompletion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EstCompletion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EstRelease)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EstRelease)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EstRevisedRelease)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EstRevisedRelease)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ActualRelease)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ActualRelease)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EstHours)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EstHours)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ActualHours)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ActualHours)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Comments)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Comments)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RevisionReason)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RevisionReason)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ResourceCount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ResourceCount)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SprintsRef)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SprintsRef)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TotalManDays)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TotalManDays)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ManDaysPerResource)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ManDaysPerResource)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsEdit)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsEdit)
                </dd>

            </dl>
        </div>
    </div>
</div>

