@{
    ViewBag.Title = "Screen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gridDiv">
    <table id="screenTable" class="display" width="100%">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    TechLead
                </th>
                <th>
                    EstCompletion
                </th>
                <th>
                    EstRelease
                </th>
                <th>
                    EstHours
                </th>
                <th>
                    ActualHours
                </th>
                <th>
                    Comments
                </th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

<div class="modal fade" id="createProjectSiteModal" tabindex="-1" role="dialog" aria-labelledby="createProjectSiteModal" 
     aria-hidden="true" data-backdrop="static">
    <div id="createProjectContainer">
    </div>
</div>  

<div class="modal fade" id="detailsProjectSiteModal" tabindex="-1" role="dialog" aria-labelledby="detailsProjectSiteModal" aria-hidden="true" data-backdrop="static">
    <div id="detailsProjectSiteContainer">
    </div>
</div>

<div class="modal fade" id="deleteProjectSiteModal" tabindex="-1" role="dialog" aria-labelledby="deleteProjectSiteModal" aria-hidden="true" data-backdrop="static">
    <div id="deleteProjectSiteContainer">
    </div>
</div>

@Html.Hidden("getUrl", Url.Action("Get", "Screen"))
@Html.Hidden("createUrl", Url.Action("Create", "Screen"))
@Html.Hidden("editUrl", Url.Action("Edit", "Screen"))
@Html.Hidden("deleteUrl", Url.Action("Delete", "Screen"))
@Html.Hidden("detailsUrl", Url.Action("Details", "Screen"))

<script src="~/Scripts/Application/Screen.js"></script>
<link href="~/Content/Common.css" rel="stylesheet" />
